
<!DOCTYPE html>

<!--[if IE 9]><html class="lt-ie9" lang="fr"><![endif]-->
<!--[if !IE]><!--><html lang="fr"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=1100">
					<meta name="robots" content="noindex">
		
		<title>Recherche Demolition man - SensCritique</title>
		
						<link rel="apple-touch-icon" href="/img/favicon/57.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/114.png">
		<link rel="publisher" href="https://plus.google.com/+senscritique">

		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'>

				
		
						
			
			
			
			

			
			
			
			
			
			

							
						
			
			
			
			<link rel="stylesheet" type="text/css" href="http://sv.sens.sc/lib/optimized_ln/c3d8302f4be03b672cb6710ed0c4565f.css"/><link rel="stylesheet" type="text/css" href="http://sv.sens.sc/lib/optimized_ln/bf3a24eb0390026089009c718f1a3188.css"/>
		
		
	
	
	
	
	
		
	
	
	
	
	
	
	

		
		
	<link rel="stylesheet" type="text/css" href="http://sv.sens.sc/lib/optimized_ln/bc486fb93a94d3c3ab6aab369953fd80.css"/>

		<!--[if lt IE 9]>
			<script>
				document.createElement('header');
				document.createElement('section');
				document.createElement('article');
				document.createElement('aside');
				document.createElement('nav');
				document.createElement('footer');
				document.createElement('figure');
				document.createElement('figcaption');
				document.createElement('hgroup');
				document.createElement('time');
				document.createElement('canvas');
			</script>
		<![endif]-->

				
	</head>
	<body
		class=""
				data-sc-registered="1"
		data-sc-page-type-id="*"
		data-sc-page-section-id="10"
		data-sc-page-view-id="1"
		
		data-sc-user-id="61785"
						
		
		>

		
						
				
							<button type="button" class="d-feedback" data-rel="sc-btn-feedback"></button>
		
				
																	<div data-rel="dynamic-element" data-sc-element-position="layout-top" data-sc-element-forced-id="-1">
											</div>
							
			<div id="wrap">
								
<header class="lahe-header">
	<div class="d-grid lahe-header-wrapper">
				<script type="text/x-jqote-template" data-rel="autocomplete-search-header"><![CDATA[
			<li class="eiau-autocomplete-row">
				<a href="<%= this.url %>" class="eiau-autocomplete-action">
					<figure class="eiau-autocomplete-figure">
						<img src="<%= this.image %>" alt="<%= this.label %>" width="30" height="40" />
					</figure>
					<div class="eiau-autocomplete-content">
						<%= this.label %>
						<small class="eiau-autocomplete-info"><%= this.description %></small>
					</div>
				</a>
			</li>
		]]></script>

		<script type="text/x-jqote-template" data-rel="autocomplete-search-header-more"><![CDATA[
			<li class="eiau-autocomplete-row eiau-autocomplete-more">
				<a class="eiau-autocomplete-action">
					Voir tous les résultats pour &laquo; <%= this.query %> &raquo;
				</a>
			</li>
		]]></script>

		<form data-rel="sc-search-form" class="lahe-search" action="/recherche?" method="GET">
			<input data-rel="sc-search-form-input" name="query" type="text" class="lahe-search" value="Demolition man">
			<input type="submit" class="lahe-search-action" value="Rechercher">

						<button type="button" class="lahe-search-filter" data-rel="sc-btn-filter sc-search-form-filter-selected" data-sc-filter="0">Tout
			</button>
			<ul data-rel="sc-search-form-filters" class="d-button-menu">
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="0">
						<span class="d-button-menu-action type- ">Tout</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="movies">
						<span class="d-button-menu-action type-1 ">Films</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="tvshows">
						<span class="d-button-menu-action type-4 ">Séries</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="books">
						<span class="d-button-menu-action type-2 ">Livres</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="comics">
						<span class="d-button-menu-action type-5 ">BD</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="videogames">
						<span class="d-button-menu-action type-3 ">Jeux vidéo</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="albums">
						<span class="d-button-menu-action type-6 ">Albums de musique</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="tracks">
						<span class="d-button-menu-action type-6 ">Morceaux de musique</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="lists">
						<span class="d-button-menu-action type- ">Listes d'oeuvres</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="franchises">
						<span class="d-button-menu-action type- ">Sagas</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="contacts">
						<span class="d-button-menu-action type- ">Artistes et sociétés</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="users">
						<span class="d-button-menu-action type- ">Membres</span>
					</li>
									<li class="d-button-menu-item" data-rel="sc-search-form-filter-select" data-sc-filter="venues">
						<span class="d-button-menu-action type- ">Cinémas</span>
					</li>
							</ul>
		</form>

				<nav class="lahe-header-nav" data-rel="sc-toggle-nav">
			<div class="lahe-header-bookmark"></div>
			<a href="/" class="lahe-header-toggle">
				<strong class="lahe-header-brand">SensCritique</strong>
				<div class="lahe-header-callto">
					Menu <span class="d-chevron1-b"></span>
				</div>
			</a>

						<div class="lahe-header-menu" data-rel="sc-nav">
				<div class="lahe-menu-content">
					
					
											<div class="lahe-menu-col">
															<div class="lahe-menu-category">
									<a href="/films" class="lahe-menu-categoryTitle type-1">Films</a>
																			<a href="/films/en-salle" class="lahe-menu-categoryItem">Films en salle</a>
																			<a href="/films/prochaines-sorties" class="lahe-menu-categoryItem">Prochaines sorties</a>
																			<a href="/programme-tv" class="lahe-menu-categoryItem">Programme TV</a>
																			<a href="/p/canalplay/selection" class="lahe-menu-categoryItem">Canalplay</a>
																			<a href="/top/resultats/Les_meilleurs_films_de_2014/367137" class="lahe-menu-categoryItem">Meilleurs films 2014</a>
																			<a href="/films/prochaines-sorties/bandes-annonces" class="lahe-menu-categoryItem">Nouvelles bandes-annonces</a>
																			<a href="/films/tops/top111" class="lahe-menu-categoryItem">Top 111 films</a>
																			<a href="/films/tops" class="lahe-menu-categoryItem">Tops films</a>
																	</div>
															<div class="lahe-menu-category">
									<a href="/musique" class="lahe-menu-categoryTitle type-6">Musique</a>
																			<a href="/musique/actualite" class="lahe-menu-categoryItem">Albums dans l'actu</a>
																			<a href="/top/resultats/Les_meilleurs_albums_de_2014/367148" class="lahe-menu-categoryItem">Meilleurs albums 2014</a>
																			<a href="/musique/tops/top111" class="lahe-menu-categoryItem">Top 111 musique</a>
																			<a href="/musique/tops" class="lahe-menu-categoryItem">Tops musique</a>
																	</div>
													</div>
											<div class="lahe-menu-col">
															<div class="lahe-menu-category">
									<a href="/series" class="lahe-menu-categoryTitle type-4">Séries</a>
																			<a href="/series/actualite" class="lahe-menu-categoryItem">Actualité des séries</a>
																			<a href="/top/resultats/Les_meilleures_series_US/210487" class="lahe-menu-categoryItem">Meilleures séries US</a>
																			<a href="/top/resultats/Les_meilleures_nouvelles_series_de_2014/367139" class="lahe-menu-categoryItem">Meilleures séries 2014</a>
																			<a href="/series/prochaines-sorties" class="lahe-menu-categoryItem">Prochaines séries</a>
																			<a href="/series/tops/top111" class="lahe-menu-categoryItem">Top 111 séries</a>
																			<a href="/series/tops" class="lahe-menu-categoryItem">Tops séries</a>
																	</div>
															<div class="lahe-menu-category">
									<a href="/bd" class="lahe-menu-categoryTitle type-5">BD</a>
																			<a href="/bd/actualite" class="lahe-menu-categoryItem">Actu BD franco-belge</a>
																			<a href="/bd/actualite/comics" class="lahe-menu-categoryItem">Actualité des comics</a>
																			<a href="/bd/actualite/manga" class="lahe-menu-categoryItem">Actualité des mangas</a>
																			<a href="/bd/tops/top111" class="lahe-menu-categoryItem">Top 111 BD</a>
																			<a href="/bd/tops" class="lahe-menu-categoryItem">Tops BD</a>
																	</div>
													</div>
											<div class="lahe-menu-col">
															<div class="lahe-menu-category">
									<a href="/jeuxvideo" class="lahe-menu-categoryTitle type-3">Jeux vidéo</a>
																			<a href="/jeuxvideo/actualite" class="lahe-menu-categoryItem">Actualité jeux vidéo</a>
																			<a href="/jeuxvideo/prochaines-sorties" class="lahe-menu-categoryItem">Prochaines sorties jeux vidéo</a>
																			<a href="/top/resultats/Les_meilleurs_jeux_video_de_2014/365502" class="lahe-menu-categoryItem">Meilleurs jeux vidéo 2014</a>
																			<a href="/jeuxvideo/tops/top111" class="lahe-menu-categoryItem">Top 111 jeux vidéo</a>
																			<a href="/jeuxvideo/tops" class="lahe-menu-categoryItem">Tops jeux vidéo</a>
																	</div>
															<div class="lahe-menu-category">
									<a href="/livres" class="lahe-menu-categoryTitle type-2">Livres</a>
																			<a href="/livres/meilleures-ventes" class="lahe-menu-categoryItem">Meilleures ventes</a>
																			<a href="/livres/actualite" class="lahe-menu-categoryItem">Actualité des livres</a>
																			<a href="/livres/tops/top111" class="lahe-menu-categoryItem">Top 111 livres</a>
																			<a href="/livres/tops" class="lahe-menu-categoryItem">Tops livres</a>
																	</div>
													</div>
					
										<div class="lahe-menu-aside">
																					<a href="/live" class="lahe-menu-asideItem">	<span class="eins-50-feed  lahe-menu-asideIcon" ></span>
Live</a>
																												<a href="/tops2013" class="lahe-menu-asideItem">	<span class="eins-50-star  lahe-menu-asideIcon" ></span>
Le meilleur de 2013</a>
																												<a href="/enrichir" class="lahe-menu-asideItem">	<span class="eins-50-add  lahe-menu-asideIcon" ></span>
Enrichir ma collection</a>
																												<a href="/invitations" class="lahe-menu-asideItem">	<span class="eins-50-friends  lahe-menu-asideIcon" ></span>
Retrouver mes amis</a>
																												<a href="/suggestions-eclaireurs" class="lahe-menu-asideItem">	<span class="eins-50-search  lahe-menu-asideIcon" ></span>
Trouver des éclaireurs</a>
																												<a href="/recommander" class="lahe-menu-asideItem">	<span class="eins-50-invite  lahe-menu-asideIcon" ></span>
Inviter des amis</a>
																			<a href="/blog" class="lahe-menu-asideItem">	<span class="eins-50-newspaper  lahe-menu-asideIcon" ></span>
Le blog</a>
					</div>
				</div>
				<div class="lahe-menu-spotlight">
																	<a href="http://www.senscritique.com/liste/Les_Emmy_Awards_2014/569721" class="lahe-spotlight-item"><figure class="d-poll"><img  class="d-poster-4" src="http://media.senscritique.com/media/000007337720/130_rect/Les_Emmy_Awards_2014.jpg" alt="Article Les Emmy Awards 2014" title="Article Les Emmy Awards 2014" width="130" height="85"></figure><span class="lahe-spotlight-title">Les Emmy Awards 2014</span></a>
																	<a href="http://www.senscritique.com/top/resultats/Les_meilleurs_films_avec_des_anti_heros/548993" class="lahe-spotlight-item"><figure class="d-poll"><img  class="d-poster-1" src="http://media.senscritique.com/media/000007337710/130_rect/Les_meilleurs_films_avec_des_anti_heros.jpg" alt="Article Les meilleurs films avec des anti-héros" title="Article Les meilleurs films avec des anti-héros" width="130" height="85"></figure><span class="lahe-spotlight-title">Les meilleurs films avec des anti-héros</span></a>
																	<a href="http://www.senscritique.com/top/resultats/Morceaux_qu_on_aimerait_a_son_enterrement/305355" class="lahe-spotlight-item"><figure class="d-poll"><img  class="d-poster-6" src="http://media.senscritique.com/media/000005988236/130_rect/Les_morceaux_qu_on_aimerait_a_son_enterrement.jpg" alt="Article Les morceaux qu&#039;on aimerait à son enterrement" title="Article Les morceaux qu&#039;on aimerait à son enterrement" width="130" height="85"></figure><span class="lahe-spotlight-title">Les morceaux qu&#039;on aimerait à son enterrement</span></a>
																	<a href="http://www.senscritique.com/top/resultats/Les_meilleures_histoires_d_amour_au_cinema/192810" class="lahe-spotlight-item"><figure class="d-poll"><img  class="d-poster-1" src="http://media.senscritique.com/media/000006968376/130_rect/Les_meilleures_histoires_d_amour_au_cinema.jpg" alt="Article Les meilleures histoires d&#039;amour au cinéma" title="Article Les meilleures histoires d&#039;amour au cinéma" width="130" height="85"></figure><span class="lahe-spotlight-title">Les meilleures histoires d&#039;amour au cinéma</span></a>
																	<a href="http://www.senscritique.com/top/resultats/Films_avec_les_meilleurs_mechants/216064" class="lahe-spotlight-item"><figure class="d-poll"><img  class="d-poster-1" src="http://media.senscritique.com/media/000006067410/130_rect/Les_films_avec_les_meilleurs_mechants.jpg" alt="Article Les films avec les meilleurs méchants" title="Article Les films avec les meilleurs méchants" width="130" height="85"></figure><span class="lahe-spotlight-title">Les films avec les meilleurs méchants</span></a>
									</div>
			</div>
		</nav>

										<div data-rel="sc-menu-profil-handler" class="lahe-header-user">
				<a href="/MorganGeek" class="lahe-user-handler">
															<img  class="d-avatar" data-rel="sc-avatar" src="http://media.senscritique.com/media/000004720203/30/Morgan_Geek.jpg" alt="Avatar MorganGeek" title="Avatar MorganGeek" width="30" height="30">
					MorganGeek
					<span class="d-chevron1-b"></span>
				</a>
				<ul data-rel="sc-menu-profil" class="lahe-user-menu">
										<li class="lahe-notifications">
						<a href="/messagerie" class="lahe-notifications-center">
							Messagerie
													</a>
						<a href="/notifications" class="lahe-notifications-center">
							Notifications
													</a>
					</li>
					<li class="lahe-user-menusection">
						<a href="/MorganGeek" class="lahe-user-menuitem">Mon profil</a>
						<a href="/MorganGeek/journal" class="lahe-user-menuitem">Mon journal</a>
						<div data-rel="sc-menu-collection-handler" class="lahe-submenu-toggle">
							<a href="/MorganGeek/collection" class="lahe-user-menuitem">
								<span class="d-chevron1-r"></span> Ma collection
							</a>
							<div data-rel="sc-menu-collection" class="lahe-user-submenu">
								<a href="/MorganGeek/critiques"
								   class="lahe-submenu-item">Critiques</a>
								<a href="/MorganGeek/collection/wish"
								   class="lahe-submenu-item">Envies</a>
								<a href="/MorganGeek/collection/current"
								   class="lahe-submenu-item">En cours</a>
								<a href="/MorganGeek/collection/recommend"
								   class="lahe-submenu-item">Coups de coeur</a>
								<a href="/enrichir"
								   class="lahe-submenu-item">Enrichir ma collection</a>
							</div>
						</div>
						<div data-rel="sc-menu-collection-handler" class="lahe-submenu-toggle">
							<a href="/MorganGeek/listes/likes" class="lahe-user-menuitem">
								<span class="d-chevron1-r"></span> Mes listes
							</a>
							<div data-rel="sc-menu-collection" class="lahe-user-submenu">
								<a href="/MorganGeek/listes/utilisateurs/likes"
								   class="lahe-submenu-item">Mes listes</a>
								<a href="/MorganGeek/listes/tops/likes"
								   class="lahe-submenu-item">Sondages</a>
								<a href="/MorganGeek/listes/tops10/likes"
								   class="lahe-submenu-item">Tops 10</a>
								<a href="/MorganGeek/collection/shopping"
								   class="lahe-submenu-item">Liste d'achats</a>
								<a href="/MorganGeek/listes/appreciees/likes"
								   class="lahe-submenu-item">Appréciations</a>
							</div>
						</div>
						<a href="/films/salles-de-cinema/favoris" class="lahe-user-menuitem">Mes cinémas favoris</a>
						<a href="/MorganGeek/contacts" class="lahe-user-menuitem">Mes contacts</a>
						<a href="/parametres" class="lahe-user-menuitem">Paramètres</a>
						<a href="/logout" class="lahe-user-menuitem">Déconnexion</a>
					</li>
				</ul>
			</div>
			<a href="/live" class="lahe-header-live">Live</a>

				
	</div>
</header>

	<div class="d-grid lahe-breadcrumb"><ul class="lahe-breadcrumb-content" itemscope itemtype="http://schema.org/WebPage"><li ><a itemprop="breadcrumb" href="/" class="lahe-breadcrumb-anchor">SensCritique</a><span class="d-chevron1-r"></span></li><li class="lahe-breadcrumb-item">Résultats pour « Demolition man »</li></ul></div>
								
	<div class="d-coverEdito">
				<div class="d-covertab">
							<a href="/recherche?query=Demolition+man" class="d-covertab-filter active">Top résultats</a>
							<a href="/recherche?query=Demolition+man&amp;filter=products" class="d-covertab-filter ">Oeuvres</a>
							<a href="/recherche?query=Demolition+man&amp;filter=lists" class="d-covertab-filter ">Listes</a>
							<a href="/recherche?query=Demolition+man&amp;filter=contacts" class="d-covertab-filter ">Artistes</a>
							<a href="/recherche?query=Demolition+man&amp;filter=users" class="d-covertab-filter ">Membres</a>
							<a href="/recherche?query=Demolition+man&amp;filter=venues" class="d-covertab-filter ">Cinémas</a>
					</div>
	</div>

	<div class="d-grid">

				
		
							
					<div class="d-grid-main">
						<div class="sin-heading">
							Oeuvres
							<div class="d-filter3 toggle">
								Filtrer par univers <span class="d-chevron1-b"></span>
								<ul class="d-button-menu">
																																																	<li class="d-button-menu-item">
												<a class="d-button-menu-action"
												   href="/recherche?query=Demolition+man&amp;filter=franchises"
												   data-filter="franchises">Sagas</a>
											</li>
																																								<li class="d-button-menu-item">
												<a class="d-button-menu-action"
												   href="/recherche?query=Demolition+man&amp;filter=movies"
												   data-filter="movies">Films</a>
											</li>
																																								<li class="d-button-menu-item">
												<a class="d-button-menu-action"
												   href="/recherche?query=Demolition+man&amp;filter=tvshows"
												   data-filter="tvshows">Séries</a>
											</li>
																																								<li class="d-button-menu-item">
												<a class="d-button-menu-action"
												   href="/recherche?query=Demolition+man&amp;filter=books"
												   data-filter="books">Livres</a>
											</li>
																																								<li class="d-button-menu-item">
												<a class="d-button-menu-action"
												   href="/recherche?query=Demolition+man&amp;filter=comics"
												   data-filter="comics">BD</a>
											</li>
																																								<li class="d-button-menu-item">
												<a class="d-button-menu-action"
												   href="/recherche?query=Demolition+man&amp;filter=videogames"
												   data-filter="videogames">Jeux vidéo</a>
											</li>
																																								<li class="d-button-menu-item">
												<a class="d-button-menu-action"
												   href="/recherche?query=Demolition+man&amp;filter=albums"
												   data-filter="albums">Albums</a>
											</li>
																																								<li class="d-button-menu-item">
												<a class="d-button-menu-action"
												   href="/recherche?query=Demolition+man&amp;filter=tracks"
												   data-filter="tracks">Morceaux</a>
											</li>
																											</ul>
							</div>
						</div>
																																
										
		<div class="sin-seemore">
							
		
	<ul>
									<li class="esfr-item">
					<div class="esfr-left">
																											<img  class="esfr-poster d-poster-1" src="http://media.senscritique.com/media/000000119731/80/Demolition_Man.jpg" alt="Affiche Demolition Man" title="Affiche Demolition Man" width="80" height="107">
																												<img  class="esfr-poster d-poster-3" src="http://media.senscritique.com/media/000000143804/80/Demolition_Man.jpg" alt="Jaquette Demolition Man" title="Jaquette Demolition Man" width="80" height="110">
																		</div>

					<div class="esfr-content">
						<h2 class="esfr-title"><a href="/groupe/Demolition_Man/4131" class="esfr-anchor"  data-sc-seeks-url="/search/txt/demolition+man/1165114695"  data-sc-seeks-engine="sc:sc_products:seeks"  data-sc-seeks="true" >Saga Demolition Man</a></h2>
						2 oeuvres dont
													<a href="/film/Demolition_Man/478222" class="">Demolition Man</a>,													<a href="/jeuvideo/Demolition_Man/142979" class="">Demolition Man</a>...											</div>
				</li>
																</ul>

			
							<a class="esco-more" href="/recherche?query=Demolition+man&amp;filter=franchises"><span class="esco-more-return"></span>Elargir la recherche dans les sagas</a>
					</div>
	
							
										
										
		<div class="sin-seemore">
										
			
	<ul class="esco-list">
									<li class="esco-item" data-sc-product-id="478222">

					
					<a href="/film/Demolition_Man/478222" class="esco-cover d-poster-1"  data-sc-seeks-url="/search/txt/demolition+man/1384932456"  data-sc-seeks-engine="sc:sc_products:seeks"  data-sc-seeks="true" ><img  src="http://media.senscritique.com/media/000000119731/110/Demolition_Man.jpg" alt="Affiche Demolition Man" title="Affiche Demolition Man" width="110" height="147"></a>

					<div class="esco-content">
								
											

	<h2 class="elco-title">
		<a href="/film/Demolition_Man/478222" class="elco-anchor" id="product-title-478222"  data-sc-seeks-url="/search/txt/demolition+man/1384932456"  data-sc-seeks-engine="sc:sc_products:seeks"  data-sc-seeks="true" >Demolition Man</a>
				
				<span class="elco-date">(1994)</span>

	</h2>
	
	<p class="elco-baseline">
		Film
					de <a href="/contact/Marco_Brambilla/43498" class="elco-baseline-a">Marco Brambilla</a>

																			avec Sylvester Stallone, Wesley Snipes, Sandra Bullock
					
				</p>
			<p class="elco-baseline elco-options">

																<span class="eins-clock  elco-clock" ></span>
 1 h 55 min.
								Sortie : <time datetime="1994-02-02" >2 février 1994</time>. 

								Action et 
												
							science fiction.
	
			
						
						
						
						
						
						

		</p>
							<p class="elco-description">Un policier sors d&#039;un coma artificiel pour chasser un  ennemi violent. Il doit sauver la nouvelle ville de San Angeles où le crime a été éradiqué.</p>
				
							
	 	
		 					
		
			<div class="erra ">
			<div class="erra-main">
									<div class="erra-ratings">
						<a href="/film/Demolition_Man/478222/critiques" class="erra-global"
							data-sc-tooltip="true"
							title="Note globale pondérée sur : 5680 avis">6.2</a>
						<span
							class="erra-scouts"
							data-sc-tooltip="true"
							data-rel="sc-modal-listing-activity scouts-rating"
							data-sc-product-id="478222"
							title="Aucune note de vos éclaireurs"
							data-sc-filter="rating,is_recommend,is_wish_list_or_shopping,is_current">
							-
						</span>
					</div>
								
				<div class="erra-currentuser"
					data-rel="sc-button"
										data-sc-product-id="478222" data-sc-zone-tag="btsc">
										<div data-sc-action-container="other" class="erra-other-actions"></div>
																					
					<div class="erra-action" data-sc-action-container="main">	<span class="eins-plus-white  erra-action-item" data-sc-action="" data-rel="sc-action"></span>
</div>
				</div>
			
				</div>

								</div>
	
					</div>
				</li>
												<li class="esco-item" data-sc-product-id="142979">

					
					<a href="/jeuvideo/Demolition_Man/142979" class="esco-cover d-poster-3"  data-sc-seeks-url="/search/txt/demolition+man/2503919673"  data-sc-seeks-engine="sc:sc_products:seeks"  data-sc-seeks="true" ><img  src="http://media.senscritique.com/media/000000143804/110/Demolition_Man.jpg" alt="Jaquette Demolition Man" title="Jaquette Demolition Man" width="110" height="150"></a>

					<div class="esco-content">
								
											

	<h2 class="elco-title">
		<a href="/jeuvideo/Demolition_Man/142979" class="elco-anchor" id="product-title-142979"  data-sc-seeks-url="/search/txt/demolition+man/2503919673"  data-sc-seeks-engine="sc:sc_products:seeks"  data-sc-seeks="true" >Demolition Man</a>
				
				<span class="elco-date">(1994)</span>

	</h2>
	
	<p class="elco-baseline">
		Jeu vidéo
					de <a href="/contact/Alexandria/243577" class="elco-baseline-a">Alexandria</a>, <a href="/contact/Avalon_Interactive_Virgin_Interactive/240646" class="elco-baseline-a">Avalon Interactive (Virgin Interactive)</a> et <a href="/contact/Acclaim_Entertainment/240790" class="elco-baseline-a">Acclaim Entertainment</a>

															
							sur Megadrive, Super Nintendo et 3DO</p>
			<p class="elco-baseline elco-options">

						
						
						
						
										
								Action.
	
			
						
						

		</p>
						
							
	 	
		 					
		
			<div class="erra ">
			<div class="erra-main">
									<div class="erra-ratings">
						<a href="/jeuvideo/Demolition_Man/142979/critiques" class="erra-global"
							data-sc-tooltip="true"
							title="Note globale pondérée sur : 6 avis">6.1</a>
						<span
							class="erra-scouts"
							data-sc-tooltip="true"
							data-rel="sc-modal-listing-activity scouts-rating"
							data-sc-product-id="142979"
							title="Aucune note de vos éclaireurs"
							data-sc-filter="rating,is_recommend,is_wish_list_or_shopping,is_current">
							-
						</span>
					</div>
								
				<div class="erra-currentuser"
					data-rel="sc-button"
										data-sc-product-id="142979" data-sc-zone-tag="btsc">
										<div data-sc-action-container="other" class="erra-other-actions"></div>
																					
					<div class="erra-action" data-sc-action-container="main">	<span class="eins-plus-white  erra-action-item" data-sc-action="" data-rel="sc-action"></span>
</div>
				</div>
			
				</div>

								</div>
	
					</div>
				</li>
												<li class="esco-item" data-sc-product-id="1367764">

					
					<a href="/album/Demolition_Man_Bande_Originale/1367764" class="esco-cover d-poster-6"  data-sc-seeks-url="/search/txt/demolition+man/3659357320"  data-sc-seeks-engine="sc:albums:seeks"  data-sc-seeks="true" ><img  src="http://media.senscritique.com/media/000005094805/110/Demolition_Man_Bande_Originale.jpg" alt="Pochette Demolition Man (OST)" title="Pochette Demolition Man (OST)" width="110" height="110"></a>

					<div class="esco-content">
								
											

	<h2 class="elco-title">
		<a href="/album/Demolition_Man_Bande_Originale/1367764" class="elco-anchor" id="product-title-1367764"  data-sc-seeks-url="/search/txt/demolition+man/3659357320"  data-sc-seeks-engine="sc:albums:seeks"  data-sc-seeks="true" >Demolition Man (OST)</a>
				
				<span class="elco-date">(1993)</span>

	</h2>
	
	<p class="elco-baseline">
		Bande-originale
					de <a href="/contact/Elliot_Goldenthal/566158" class="elco-baseline-a">Elliot Goldenthal</a>

															
				</p>
			<p class="elco-baseline elco-options">

						
						
						
						
						
										Sortie : <time datetime="1993-11-23" >23 novembre 1993</time>. 
								Bande originale, 
												
							cinéma &amp; théatre et 
												
							bande-son.
	
				16  morceaux.
			
						

		</p>
							<p class="elco-description">Tracklist : 
										<span class="elco-track">Dies Irae</span>, 
										<span class="elco-track">Fire Fight</span>, 
										<span class="elco-track">Guilty as Charged</span>, 
										<span class="elco-track">Action, Guns, Fun</span>, 
										<span class="elco-track">Machine Waltz</span>...</p>
				
							
	 	
		 					
		
			<div class="erra ">
			<div class="erra-main">
									<div class="erra-ratings">
						<a href="/album/Demolition_Man_Bande_Originale/1367764/critiques" class="erra-global"
							data-sc-tooltip="true"
							title="Note globale pondérée sur : 7 avis">6.3</a>
						<span
							class="erra-scouts"
							data-sc-tooltip="true"
							data-rel="sc-modal-listing-activity scouts-rating"
							data-sc-product-id="1367764"
							title="Aucune note de vos éclaireurs"
							data-sc-filter="rating,is_recommend,is_wish_list_or_shopping,is_current">
							-
						</span>
					</div>
								
				<div class="erra-currentuser"
					data-rel="sc-button"
										data-sc-product-id="1367764" data-sc-zone-tag="btsc">
										<div data-sc-action-container="other" class="erra-other-actions"></div>
																					
					<div class="erra-action" data-sc-action-container="main">	<span class="eins-plus-white  erra-action-item" data-sc-action="" data-rel="sc-action"></span>
</div>
				</div>
			
				</div>

								</div>
	
					</div>
				</li>
												<li class="esco-item" data-sc-product-id="6068828">

					
					<a href="/album/Demolition_Man/6068828" class="esco-cover d-poster-6"  data-sc-seeks-url="/search/txt/demolition+man/20018240"  data-sc-seeks-engine="sc:albums"  data-sc-seeks="true" ><img  src="http://media.senscritique.com/media/000003161592/110/Demolition_Man.jpg" alt="Pochette Demolition Man" title="Pochette Demolition Man" width="110" height="110"></a>

					<div class="esco-content">
								
											

	<h2 class="elco-title">
		<a href="/album/Demolition_Man/6068828" class="elco-anchor" id="product-title-6068828"  data-sc-seeks-url="/search/txt/demolition+man/20018240"  data-sc-seeks-engine="sc:albums"  data-sc-seeks="true" >Demolition Man</a>
				
				<span class="elco-date">(2007)</span>

	</h2>
	
	<p class="elco-baseline">
		Album
					de <a href="/contact/Ol_Kainry/627969" class="elco-baseline-a">Ol’ Kainry</a>

															
				</p>
			<p class="elco-baseline elco-options">

						
						
						
						
						
										Sortie : <time datetime="2007-11-05" >5 novembre 2007</time>. 
						
				17  morceaux.
			
						

		</p>
							<p class="elco-description">Tracklist : 
										<span class="elco-track">Demolition Ol</span>, 
										<span class="elco-track">On va l&#039;faire</span>, 
										<span class="elco-track">Parlez parlez parlez (feat. FTK, Sefyu, Alpha 5.20, Black Jack, B-La &amp; D.O.C.)</span>, 
										<span class="elco-track">Memento mori</span>, 
										<span class="elco-track">Street zombie (feat. Honers l&#039;Infame)</span>...</p>
				
							
	 	
		 					
		
			<div class="erra ">
			<div class="erra-main">
									<div class="erra-ratings">
						<a href="/album/Demolition_Man/6068828/critiques" class="erra-global"
							data-sc-tooltip="true"
							title="Note globale pondérée sur : 16 avis">6.2</a>
						<span
							class="erra-scouts"
							data-sc-tooltip="true"
							data-rel="sc-modal-listing-activity scouts-rating"
							data-sc-product-id="6068828"
							title="Aucune note de vos éclaireurs"
							data-sc-filter="rating,is_recommend,is_wish_list_or_shopping,is_current">
							-
						</span>
					</div>
								
				<div class="erra-currentuser"
					data-rel="sc-button"
										data-sc-product-id="6068828" data-sc-zone-tag="btsc">
										<div data-sc-action-container="other" class="erra-other-actions"></div>
																					
					<div class="erra-action" data-sc-action-container="main">	<span class="eins-plus-white  erra-action-item" data-sc-action="" data-rel="sc-action"></span>
</div>
				</div>
			
				</div>

								</div>
	
					</div>
				</li>
												<li class="esco-item" data-sc-product-id="11066944">

					
					<a href="/morceau/No_Guns_Out/11066944" class="esco-cover d-poster-6"  data-sc-seeks-url="/search/txt/demolition+man/928559263"  data-sc-seeks-engine="sc:tracks"  data-sc-seeks="true" ><img  src="http://media.senscritique.com/missing/175/110/missing.jpg" alt="Pochette No Guns Out" title="Pochette No Guns Out"></a>

					<div class="esco-content">
								
											

	<h2 class="elco-title">
		<a href="/morceau/No_Guns_Out/11066944" class="elco-anchor" id="product-title-11066944"  data-sc-seeks-url="/search/txt/demolition+man/928559263"  data-sc-seeks-engine="sc:tracks"  data-sc-seeks="true" >No Guns Out</a>
				
				

	</h2>
	
	<p class="elco-baseline">
		Morceau
					de <a href="/contact/Demolition_Man/663825" class="elco-baseline-a">Demolition Man</a>

															
				</p>
			<p class="elco-baseline elco-options">

						
						
						
						
						
						
																<span class="eins-clock  elco-clock" ></span>
 3:46.
				
						

									Présent dans 1 album.
							

		</p>
						
							
	 	
		 					
		
			<div class="erra ">
			<div class="erra-main">
									<div class="erra-ratings">
						<a href="/morceau/No_Guns_Out/11066944/critiques" class="erra-global"
							data-sc-tooltip="true"
							title="Note globale pondérée sur : 1 avis">-</a>
						<span
							class="erra-scouts"
							data-sc-tooltip="true"
							data-rel="sc-modal-listing-activity scouts-rating"
							data-sc-product-id="11066944"
							title="Aucune note de vos éclaireurs"
							data-sc-filter="rating,is_recommend,is_wish_list_or_shopping,is_current">
							-
						</span>
					</div>
								
				<div class="erra-currentuser"
					data-rel="sc-button"
										data-sc-product-id="11066944" data-sc-zone-tag="btsc">
										<div data-sc-action-container="other" class="erra-other-actions"></div>
																					
					<div class="erra-action" data-sc-action-container="main">	<span class="eins-plus-white  erra-action-item" data-sc-action="" data-rel="sc-action"></span>
</div>
				</div>
			
				</div>

								</div>
	
					</div>
				</li>
												<li class="esco-item" data-sc-product-id="4100695">

					
					<a href="/morceau/Fire/4100695" class="esco-cover d-poster-6"  data-sc-seeks-url="/search/txt/demolition+man/474597228"  data-sc-seeks-engine="sc:tracks"  data-sc-seeks="true" ><img  src="http://media.senscritique.com/missing/175/110/missing.jpg" alt="Pochette Fire" title="Pochette Fire"></a>

					<div class="esco-content">
								
											

	<h2 class="elco-title">
		<a href="/morceau/Fire/4100695" class="elco-anchor" id="product-title-4100695"  data-sc-seeks-url="/search/txt/demolition+man/474597228"  data-sc-seeks-engine="sc:tracks"  data-sc-seeks="true" >Fire</a>
				
				<span class="elco-date">(1995)</span>

	</h2>
	
	<p class="elco-baseline">
		Morceau
					de <a href="/contact/Demolition_Man/663825" class="elco-baseline-a">Demolition Man</a>

															
				</p>
			<p class="elco-baseline elco-options">

						
						
						
						
						
						
																<span class="eins-clock  elco-clock" ></span>
 3:25.
				
						

									Présent dans 2 albums.
							

		</p>
						
							
	 	
		 					
		
			<div class="erra ">
			<div class="erra-main">
									<div class="erra-ratings">
						<a href="/morceau/Fire/4100695/critiques" class="erra-global"
							data-sc-tooltip="true"
							title="Note globale pondérée sur : 0 avis">-</a>
						<span
							class="erra-scouts"
							data-sc-tooltip="true"
							data-rel="sc-modal-listing-activity scouts-rating"
							data-sc-product-id="4100695"
							title="Aucune note de vos éclaireurs"
							data-sc-filter="rating,is_recommend,is_wish_list_or_shopping,is_current">
							-
						</span>
					</div>
								
				<div class="erra-currentuser"
					data-rel="sc-button"
										data-sc-product-id="4100695" data-sc-zone-tag="btsc">
										<div data-sc-action-container="other" class="erra-other-actions"></div>
																					
					<div class="erra-action" data-sc-action-container="main">	<span class="eins-plus-white  erra-action-item" data-sc-action="" data-rel="sc-action"></span>
</div>
				</div>
			
				</div>

								</div>
	
					</div>
				</li>
																																																																												</ul>

			
							<a class="esco-more" href="/recherche?query=Demolition+man&amp;filter=products"><span class="esco-more-return"></span>Elargir la recherche dans les oeuvres</a>
					</div>
	

													
						<div class="sin-heading">Listes d&#039;oeuvres</div>
																
										
		<div class="sin-seemore">
								
			
	
			<ul>
																		
						
			
	<li
		class="elth-thumbnail by3"
					data-sc-tooltip="true"
			title="Liste de 9 films<br/> modifiée le 12 mai 2013 "
				>

		
							
				<a href="/liste/man/177699" title="man" class="elth-thumbnail-title"  data-sc-seeks-url="/search/txt/demolition+man/2306775777"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true" >
			<img  class="elth-thumbnail-cover" src="http://media.senscritique.com/media/000004421395/224_65/man.jpg" alt="Illustration man" title="Illustration man" width="224" height="65">
			<h2 class="elth-thumbnail-heading type-1">man</h2>
		</a>

		
							<p class="elth-thumbnail-descr">
				Avec :
															Tabou, 
																				Le chien jaune de Mongolie, 
																				Urga, 
																				L&#039;Histoire du chameau qui pleure, 
																				A Single Man
												</p>
					</li>

																						
						
			
	<li
		class="elth-thumbnail by3"
					data-sc-tooltip="true"
			title="Liste de 3 films<br/> modifiée le 27 février 2011 "
				>

		
							
				<a href="/liste/Iron_Man/33888" title="Iron Man" class="elth-thumbnail-title"  data-sc-seeks-url="/search/txt/demolition+man/1994560028"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true" >
			<img  class="elth-thumbnail-cover" src="http://media.senscritique.com/media/000004046594/224_65/Iron_Man.jpg" alt="Illustration Iron Man" title="Illustration Iron Man" width="224" height="65">
			<h2 class="elth-thumbnail-heading type-1">Iron Man</h2>
		</a>

		
							<p class="elth-thumbnail-descr">
				Avec :
															Iron Man, 
																				Iron Man 2, 
																				Iron Man 3
												</p>
							<div class="elth-thumbnail-metadata">
					<span class="eins-like-xs-gray  " ></span>
 2
			</div>
			</li>

																						
						
			
	<li
		class="elth-thumbnail by3"
					data-sc-tooltip="true"
			title="Liste de 39 films<br/> modifiée le  8 mai 2014 "
				>

		
							
				<a href="/liste/Elastic_Man/457610" title="Elastic Man." class="elth-thumbnail-title"  data-sc-seeks-url="/search/txt/demolition+man/2686184904"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true" >
			<img  class="elth-thumbnail-cover" src="http://media.senscritique.com/media/000006826259/224_65/Elastic_Man.jpg" alt="Illustration Elastic Man." title="Illustration Elastic Man." width="224" height="65">
			<h2 class="elth-thumbnail-heading type-1">Elastic Man.</h2>
		</a>

		
							<p class="elth-thumbnail-descr">
				Avec :
															Copper Mountain, 
																				All in Good Taste, 
																				Cash Cash, 
																				Séduction à pleines dents, 
																				Peggy Sue s&#039;est mariée, 
																				La Dernière Cible
												</p>
							<div class="elth-thumbnail-metadata">
					<span class="eins-like-xs-gray  " ></span>
 3
			</div>
			</li>

																							</ul>
	
			
							<a class="esco-more" href="/recherche?query=Demolition+man&amp;filter=lists"><span class="esco-more-return"></span>Plus de résultats dans les listes d'oeuvres</a>
					</div>
	
											</div>
					<div class="d-grid-aside">


						<div class="sin-heading">Cinémas</div>
													<div class="sin-empty-message">Aucune salle de cinéma ne correspond à cette recherche.</div>
						
						<div class="sin-heading">Artistes et sociétés</div>
																
										
		<div class="sin-seemore">
								
		
 	<ul>
 		 				 			<li class="ecli-item">
	 										<img  class="d-avatar ecvi-left" src="http://media.senscritique.com/missing/212/55/missing.jpg" alt="Photo Demolition Man" title="Photo Demolition Man">

	<div class="ecvi-content">
		<a href="/contact/Demolition_Man/663825" class="d-heading5 ecvi-title"  data-sc-seeks-url="/search/txt/demolition+man/4074194987"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true" >Demolition Man</a>
		<p class="ecvi-data">Artiste musical</p>
	</div>

				</li>
					 				 			<li class="ecli-item">
	 										<img  class="d-avatar ecvi-left" src="http://media.senscritique.com/missing/212/55/missing.jpg" alt="Photo Demolition Man, Frisky Dan &amp; Terry T" title="Photo Demolition Man, Frisky Dan &amp; Terry T">

	<div class="ecvi-content">
		<a href="/contact/Demolition_Man_Frisky_Dan_Terry_T/664968" class="d-heading5 ecvi-title"  data-sc-seeks-url="/search/txt/demolition+man/922370137"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true" >Demolition Man, Frisky Dan &amp; Terry T</a>
		<p class="ecvi-data">Artiste musical</p>
	</div>

				</li>
					 				 			<li class="ecli-item">
	 										<img  class="d-avatar ecvi-left" src="http://media.senscritique.com/missing/229/55/missing.jpg" alt="Logo Demolition" title="Logo Demolition">

	<div class="ecvi-content">
		<a href="/contact/Demolition/668595" class="d-heading5 ecvi-title"  data-sc-seeks-url="/search/txt/demolition+man/3060960939"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true" >Demolition</a>
		<p class="ecvi-data">Groupe de musique</p>
	</div>

				</li>
						</ul>

			
							<a class="esco-more" href="/recherche?query=Demolition+man&amp;filter=contacts"><span class="esco-more-return"></span>Plus de résultats dans les artistes</a>
					</div>
	
						
						<div class="sin-heading">Membres</div>
																
										
		<div class="sin-seemore">
							
		
	<ul>
									<li class="esli-item">
										<a href="/man"  data-sc-seeks-url="/search/txt/demolition+man/4070166171"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true"  class="esli-anchor"><img  class="esli-avatar" src="http://media.senscritique.com/media/000003997995/60/man.jpg" alt="Avatar man" title="Avatar man" width="60" height="60">
						<span class="esli-username">man</span></a>
				</li>
												<li class="esli-item">
										<a href="/Man_Wild"  data-sc-seeks-url="/search/txt/demolition+man/1354280725"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true"  class="esli-anchor"><img  class="esli-avatar" src="http://media.senscritique.com/media/000005524698/60/Man_Wild.jpg" alt="Avatar Man Wild" title="Avatar Man Wild" width="60" height="60">
						<span class="esli-username">Man Wild</span>							<span class="esli-small">Man Wild</span>
						</a>
				</li>
												<li class="esli-item">
										<a href="/Oussama_Man"  data-sc-seeks-url="/search/txt/demolition+man/2612634363"  data-sc-seeks-engine="sc:sc_products"  data-sc-seeks="true"  class="esli-anchor"><img  class="esli-avatar" src="http://media.senscritique.com/media/000006383049/60/Man_Oussama.jpg" alt="Avatar Man Oussama" title="Avatar Man Oussama" width="60" height="60">
						<span class="esli-username">Man Oussama</span>							<span class="esli-small">Man Oussama</span>
						</a>
				</li>
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																</ul>

			
							<a class="esco-more" href="/recherche?query=Demolition+man&amp;filter=users"><span class="esco-more-return"></span>Elargir la recherche dans les membres</a>
					</div>
	
											</div>

				
						</div>

			<div class="d-grid sin-grid-seeks">Réponse de <a href="http://www.xplr.com/" target="_blank">XPLR</a> en 0.132s.</div>
	
								
<footer class="lafo-footer">
	<div class="d-grid lafo-footer-container">
				<ul class="lafo-informations-list">
			<li>
				<a href="/apropos" class="lafo-footer-anchor">&Agrave; propos</a>
			</li>
			<li>
				<a href="/faq" class="lafo-footer-anchor">Aide</a>
			</li>
			<li>
				<a href="/blog" class="lafo-footer-anchor">Blog</a>
			</li>
			<li>
				<a href="/apropos/publicite" class="lafo-footer-anchor">Publicité</a>
			</li>
			<li>
				<a href="/apropos/emploi" class="lafo-footer-anchor">Emploi</a>
			</li>
			<li>
				<a href="/apropos/cgu" class="lafo-footer-anchor">Conditions d'utilisation</a>
			</li>
		</ul>

				<div class="lafo-social">
			<a href="http://www.facebook.com/senscritique" target="_blank" class="lafoo-footer-social">
				<img src="http://sv.sens.sc/img/layout/icons/social/icon-facebook1.png" alt="Facebook" width="24" height="24">
			</a>
			<a href="https://twitter.com/senscritique" target="_blank" class="lafoo-footer-social">
				<img src="http://sv.sens.sc/img/layout/icons/social/icon-twitter1.png" alt="Twitter" width="24" height="24">
			</a>

			<!-- Place this tag where you want the +1 button to render. -->
			<div class="g-plusone" data-annotation="none" data-href="http://www.senscritique.com"></div>

			<!-- Place this tag after the last +1 button tag. -->
			<script type="text/javascript">
				window.___gcfg = {lang: 'fr'};

				(function() {
				var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
				po.src = 'https://apis.google.com/js/plusone.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
				})();
			</script>
		</div>
	</div>

		<div class="d-grid">
		<ul class="lafo-resume">
				<li><a href="/films/salles-de-cinema" class="lafo-resume-item">Séances de cinéma</a></li>
				<li><a href="/programme-tv/ce-soir" class="lafo-resume-item">Programme TV ce soir</a></li>
				<li><a href="/programme-tv/aujourdhui" class="lafo-resume-item">Programme TV aujourd'hui</a></li>
				<li><a href="/programme-tv/demain" class="lafo-resume-item">Programme TV demain</a></li>
				<li><a href="/programme-tv" class="lafo-resume-item inactive">Programme TV cette semaine</a></li>
		</ul>
		<ul class="lafo-resume">
							<li>
					<a href="/films/oeuvres" class="lafo-resume-item ">Avis films</a>
				</li>
							<li>
					<a href="/series/oeuvres" class="lafo-resume-item ">Avis séries</a>
				</li>
							<li>
					<a href="/livres/oeuvres" class="lafo-resume-item ">Avis livres</a>
				</li>
							<li>
					<a href="/bd/oeuvres" class="lafo-resume-item ">Avis BD</a>
				</li>
							<li>
					<a href="/jeuxvideo/oeuvres" class="lafo-resume-item ">Avis jeux vidéo</a>
				</li>
							<li>
					<a href="/musique/oeuvres" class="lafo-resume-item inactive">Avis musique</a>
				</li>
					</ul>
		<span class="lafo-copyright">© 2014 SensCritique</span>
	</div>
</footer>			</div>
		
				<script>
			try {
				console
			} catch(e) {
				console = {};
				console.log = function(){};
			}
		</script>
									<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
			<script>window.jQuery || document.write('<script src="http://sv.sens.sc/lib/plugins/jquery.js"><\/script>')</script>
			
			
							
									
			
						
						
			
			
						
			
			

			

			<script type="text/javascript" src="http://sv.sens.sc/lib/optimized_ln/74f86a86eaa1b57bba9046d58f8726ab.js"></script><script type="text/javascript" src="http://sv.sens.sc/lib/optimized_ln/c9ccb26659ddf5400c4ad5332bd40716.js"></script>
		

		
	
	
	<script type="text/javascript" src="http://sv.sens.sc/lib/optimized_ln/f6c32e9c5087d7248338cff8cfabaefd.js"></script>

		
				
		<script type="text/javascript">
		var clicky_site_ids = clicky_site_ids || [];
		clicky_site_ids.push(66432673);
		(function() {
			var s = document.createElement('script');
			s.type = 'text/javascript';
			s.async = true;
			s.src = '//static.getclicky.com/js';
			( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
		})();
	</script>
	<!-- <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/66432673ns.gif" /></p></noscript> -->

		<script language="JavaScript">
		function _eStat_Whap_loaded_func() {
			eStatWhap.serial("800000000028");
			eStatWhap.send();
		}
		(function() {
			var myscript = document.createElement('script');
			myscript.src = "http://w.estat.com/js/whap.js";
			myscript.setAttribute('async', 'true');
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(myscript, s);
		})();
	</script>

				<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-15416699-1']);

							_gaq.push(['_setCustomVar',
					1,
					'Univers',
					'all',
					3
				]);
							_gaq.push(['_setCustomVar',
					2,
					'Categorie',
					'search',
					3
				]);
							_gaq.push(['_setCustomVar',
					3,
					'Page',
					'index',
					3
				]);
							_gaq.push(['_setCustomVar',
					4,
					'UserType',
					'member',
					2
				]);
			
			
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	

				<div id="fb-root"></div>

<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId:'157003860988959',
			cookie:true,
			status:true,
			xfbml:true,
			// channel: 'http://".$domain."/fb_channel.php'
		});

		FB.Event.subscribe('auth.statusChange', function(response) {
			if (response.status === 'connected') {
				var uid = response.authResponse.userID;
				var accessToken = response.authResponse.accessToken;
				var expiresIn = response.authResponse.expiresIn;
				// Do login facebook, only if we have the try
				$('[data-sc-facebook-autologin="true"]').each(function() {
					document.location = '/oauthapi/facebook/';
				});
				$('[data-sc-refresh-api-facebook="true"]').each(function() {
					$.ajax({
						url: '/oauthapi/facebook/renewToken.json',
						type: 'post',
						data:{
							access_token:accessToken,
							expires_in:expiresIn,
							uid:uid
						},
						dataType: 'json',
						success: function (data, textStatus, jqXhr) {

						}
					});
				});
			} else {
				var status = (response.status === 'not_authorized') ? 'connected' : 'unknow';
				// Do nothing
				$('[data-sc-facebook-autologin="true"]').each(function() {
					$.ajax({
						url: '/oauthapi/facebook/status/' + status + '.json',
						type: 'get',
						dataType: 'json',
						success: function (data, textStatus, jqXhr) {

						}
					});
				});
			}
		});
	};

	// Load the SDK Asynchronously
	(function(d){
		var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
		js = d.createElement('script'); js.id = id; js.async = true;
		js.src = "http://connect.facebook.net/fr_FR/all.js";
		d.getElementsByTagName('head')[0].appendChild(js);
	}(document));
</script>

<script type="text/javascript">
	window.___gcfg = {lang: 'fr'};

	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();
</script>
		<span data-rel="test_AB" class="sponsored-ad">&nbsp;</span>
	</body>
</html>
